<div class='text-center'>
	<section id='search' class='search-wrap mb-5'>
		<h1>Search for a book</h1>
		<form action='/api/search' class='search-form'>
			<i class='fas fa-search'></i>
			<input
				type='search'
				name='term'
				placeholder='Javascript, Excel, etc...'
			/>
			<input type='submit' value='Search' class='btn btn-dark' />
		</form>
	</section>

	<section>
		<h1 class='my-5'>New Books</h1>
		<div
			class='new-books-container d-flex flex-wrap flex-column flex-md-row justify-content-between align-items-center'
		>
			{{#each books}}
				<div class='new-books-item details'>
					<li>
            <a href="/details/{{isbn13}}">
						<h5>{{title}}</h5>
						<img src={{image}} alt="{{title}}"/>
            </a>
					</li>
				</div>
			{{else}}
				<p>No new books available</p>
			{{/each}}
		</div>
	</section>
</div>

